.homePage{
    position:relative;
    background-color: black;
    height: 89vh;
}

.carouselBlock{
    height: 600px;
    width: 100%;
    background-color: black;
    color: white;
 
}

.insideCarousel{
    display: flex;
    justify-content: space-around;
}

.filmposter{
    width: 300px;
    height: 420px;
    transition: 0.6s linear
}

.filmposter:hover{
    opacity: 0.5
}

.filmbox{
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.filmname{
    margin: 0 auto;
    margin-top: 30px;
    font-size: 24px;
    width: 300px;
}